[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
tqdm = "*"
nltk = "*"
pandas = "*"
boto3 = "*"
requests = "*"
regex = "*"
seqeval = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
